build-*/
build*/

#Sublime
*.sublime-workspace
**/__pycache__
#Linux
*.swp
CMakeUserPresets.json
*~*.TMP

.idea/*
.vs/*
.vscode/*
worktrees/*

# All contents except for the runtime/config
runtime/*

*cmake*
*Cmake*
*CMake*
*Make*

projects/biogears/generated/*
projects/cli/Debug/*
projects/zip/minizip.pc
projects/zip/unzip.h
projects/zip/zip.h
projects/zip/lib/zlib/Makefile
projects/zip/lib/zlib/zconf.h
projects/zip/lib/zlib/Makefile
